*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.widget-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.settings {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 200px;
    padding: 10px;
    background-color: rgba(255,255,255, .8);
}

.settings div {
    margin-bottom: 5px;
}

input, select {
    background: transparent;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    margin-bottom: 5px;
}

[type="number"] {
    appearance: none;
}

