*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.widget-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.settings {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: calc(100vh - 20px);
    padding: 10px;
    background-color: rgba(255,255,255, .8);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
}

.settings div {
    margin-bottom: 6px;
}

input, select {
    background: transparent;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    margin-bottom: 10px;
}

[type="number"] {
    appearance: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.buttons button {
    width: calc(50% - 5px);
    border: 1px solid tomato;
    font-size: 18px;
    padding: 3px 5px;
    cursor: pointer;
    transition: all .3s;
}

.buttons button:hover,
.buttons .active {
    color: white;
    background-color: tomato;
}

.buttons .active {
    pointer-events: none;
}

[type="checkbox"] {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

label {
    font-size: 16px;
}

.settings-wrapper {
    display: none;
    padding-top: 15px;
}

:checked ~ .settings-wrapper {
    display: block;
    height: 100%;
    overflow-y: auto;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
